*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html {
  padding: env(safe-area-inset);
}

html,
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scroll-behavior: smooth;
  margin: 0 auto !important;
}

body {
  margin: 0 auto;
  padding: 0px;
  -webkit-outline: none;
  outline: none;
  position: relative;
  min-width: 320px;
  max-height: 1000000px;
  min-height: 100vh;
  text-decoration-skip: objects;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

:focus,
:active,
:hover,
:link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  -webkit-focus-ring-color: rgba(0, 0, 0, 0) !important;
  -webkit-outline: none;
  outline: none;
}

ul,
ol {
  list-style-position: inside;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

li {
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

iframe {
  display: block;
  border: none;
}

img {
  display: block;
  border: none;
  max-width: 100%;
}

textarea {
  white-space: pre-wrap;
  resize: none;
}

button,
select {
  display: block;
  padding: 0;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  font-family: inherit;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-transform: none;
}

button {
  width: auto;
  cursor: pointer;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border: none;
  padding: 0;
}

[type=search],
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  -webkit-outline: none;
  outline: none;
}

[type=search]::-webkit-search-decoration,
::-webkit-file-upload-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

[hidden],
::-ms-clear,
area {
  display: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  display: block;
  padding: 0;
}

menu,
dir {
  list-style: none;
  margin: 0;
  padding: 0;
}

::-webkit-input-placeholder {
  color: inherit;
}

:-ms-input-placeholder {
  color: inherit;
}

::-moz-input-placeholder {
  color: inherit;
}

::-moz-placeholder {
  color: inherit;
}

:-moz-placeholder {
  color: inherit;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
  -webkit-outline: none;
  outline: none;
  text-decoration-skip-ink: none;
}

[type=date]::-webkit-inner-spin-button {
  display: none;
}

[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

body {
  font-family: "Helvetica Neue";
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.02em;
}
body.hidden {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1340px;
  padding: 0 20px;
  margin: 0 auto;
}

label,
textarea,
input {
  -webkit-appearance: none;
  font-family: "Helvetica Neue";
  border-radius: 0;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  padding: 26px 32px;
}
.site-wrapper footer,
.site-wrapper .footer {
  margin-top: auto;
}

.logo {
  position: relative;
  transition: opacity 0.3s;
  width: 165px;
  height: 41px;
  position: relative;
  z-index: 1;
}
.logo > a {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
  overflow: hidden;
  text-indent: 200%;
  white-space: nowrap;
}
.logo:hover {
  opacity: 0.75;
}
.logo picture {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.logo img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  margin-top: 32px;
}

.input-item {
  position: relative;
}
.input-item input, .input-item textarea {
  border: 0;
  background: transparent;
  width: 100%;
  height: 34px;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: 500;
  line-height: 25.6px;
  letter-spacing: -0.02em;
  color: rgb(62, 84, 106);
  border-radius: 0;
  padding: 0;
  padding-bottom: 10px;
}
.input-item input::placeholder, .input-item textarea::placeholder {
  opacity: 1;
  text-transform: none;
  color: rgba(0, 0, 0, 0.48);
}
.input-item label {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #80726a;
  display: block;
}
.input-item textarea {
  height: 100px;
  display: block;
}
.input-item input {
  height: 26px;
}
.input-item input + input {
  margin-top: 24px;
}
.input-item .icon {
  position: absolute;
  bottom: 9px;
  right: 1px;
}
.input-item .icon svg {
  color: rgb(0, 0, 0);
  fill: rgb(0, 0, 0);
}

.check-block {
  display: flex;
  align-items: center;
  min-height: 24px;
}
.check-block input {
  display: none;
}
.check-block input:checked + label::before {
  opacity: 1;
}
.check-block input:disabled + label {
  opacity: 0.33;
  pointer-events: none;
}
.check-block label {
  cursor: pointer;
  padding-left: 38px;
  position: relative;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(62, 84, 106, 0.5);
  display: block;
  text-align: left;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  width: 100%;
}
.check-block label:hover {
  color: rgb(62, 84, 106);
}
.check-block label::before {
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  left: 5px;
  top: 50%;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
  border-radius: 4px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/svg/check.svg");
  opacity: 0;
}
.check-block label::after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  top: 50%;
  left: 5px;
  top: 50%;
  width: 24px;
  height: 24px;
  border: solid 1px rgb(245, 140, 31);
  transform: translateY(-50%);
  border-radius: 4px;
  overflow: hidden;
}
.check-block a {
  text-decoration: underline;
  -webkit-transition: text-decoration 0.3s;
  -moz-transition: text-decoration 0.3s;
  -o-transition: text-decoration 0.3s;
  transition: text-decoration 0.3s;
}
.check-block a:hover {
  text-decoration-color: transparent;
}

.selectric {
  border: 0;
  background: transparent;
  width: 100%;
  height: 47px;
  width: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.selectric .label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  height: 100%;
  padding: 10px 0;
  padding-right: 15px;
  margin: 0;
  color: rgb(0, 0, 0);
}
.selectric .button {
  width: 48px;
  height: 100%;
  background: transparent;
  display: flex;
  background-image: url("../img/arrow_bottom.svg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.selectric .button::after {
  display: none;
}

.selectric-wrapper {
  border: 0;
  outline: none;
}
.selectric-wrapper.selectric-hover .selectric {
  border-color: rgb(0, 0, 0);
}
.selectric-wrapper.selectric-open .selectric {
  border-color: rgb(0, 0, 0);
}
.selectric-wrapper.selectric-open .selectric .button {
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}
.selectric-wrapper.selectric-above .selectric-items {
  border: solid 1px rgb(0, 0, 0);
}
.selectric-items {
  background: transparent;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  overflow: hidden;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  border-radius: 16px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  z-index: -1;
  min-width: 140px;
  right: 0;
  left: auto;
}

.selectric-scroll {
  border: 0;
}
.selectric-scroll ul {
  padding-top: 5px;
}
.selectric-scroll ul li {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #7b7b7b;
  padding: 8px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.selectric-scroll ul li.highlighted, .selectric-scroll ul li.selected {
  background: transparent !important;
  text-decoration: underline;
  color: rgb(0, 0, 0);
}
.selectric-scroll ul li:hover {
  background: transparent !important;
  color: rgb(0, 0, 0);
}

.modal {
  font-family: "Helvetica Neue";
  display: none;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  color: #292929;
}

.modal.is-open {
  display: block;
  z-index: 15;
  position: fixed;
}

.modal__container {
  overflow: auto;
  background: transparent;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  padding: 50px 0;
}

.modal__content {
  padding: 0;
  margin: 0;
}
.modal__content .link {
  font-size: 14px;
  line-height: 25px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-decoration-line: underline;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #4c535b;
}
.modal__content .link:hover {
  text-decoration-color: transparent;
}

.modal__close {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  right: 100px;
  top: 27px;
  display: flex;
  z-index: 10;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #292929;
  align-items: center;
  gap: 11px;
}
.modal__close svg {
  pointer-events: none;
}
.modal__close:hover {
  opacity: 0.75;
}

.modal__content .scroll::-webkit-scrollbar {
  width: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  margin-right: 12px;
}
.modal__content .scroll::-webkit-scrollbar-track {
  background: #d9d9d9;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
.modal__content .scroll::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

.modal__inner {
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 0;
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: inherit;
}

.selectric-open {
  z-index: 4;
}

input[type=number],
input[type=number]:hover,
input[type=number]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

video::-webkit-media-controls {
  opacity: 0;
  pointer-events: none;
}
video.opened::-webkit-media-controls {
  opacity: 1;
  pointer-events: initial;
}

picture {
  position: relative;
  display: block;
}
picture img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div {
  scrollbar-color: rgba(255, 255, 255, 0.33) transparent;
  scrollbar-width: thin;
}
div::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
  left: 5px;
}
div::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: rgba(255, 255, 255, 0.33);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

.burger {
  display: none;
  position: relative;
  font-size: 16px;
  line-height: 26px;
  height: 20px;
  padding-right: 49px;
  align-items: center;
  right: 6px;
}
.burger-line {
  position: relative;
  display: block;
  width: 100%;
  height: 1.5px;
  background-color: rgb(0, 0, 0);
  transition: all 0.3s;
  pointer-events: none;
  border-radius: 10px;
  overflow: hidden;
}
.burger::before {
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  right: 0;
  top: 50%;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='30' height='24' viewBox='0 0 30 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.66748 2H28.3341M1.66748 12H28.3341M1.66748 22H28.3341' stroke='%233E546A' stroke-width='2.5' stroke-linecap='square' stroke-linejoin='round'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  width: 28px;
  height: 23px;
  transform: translateY(-50%);
}
.burger::after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  right: 0;
  top: 50%;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='29' height='31' viewBox='0 0 29 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.125 25.875L9 15.25L9 1.49974M14 29L14 1.49974M27.125 25.875L19 15.25L19 1.49974' stroke='%233E546A' stroke-width='2.5' stroke-linecap='square' stroke-linejoin='round'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  width: 27px;
  height: 25px;
  transform: translateY(-50%);
  background-size: contain;
  opacity: 0;
}
.burger.opened::before {
  opacity: 0;
}
.burger.opened::after {
  opacity: 1;
}

@media (min-width: 1200px) {
  body.modal-open {
    overflow: hidden;
    padding-right: 17px;
  }
  _:-webkit-any-link,
  :root body.modal-open {
    padding-right: 17px;
  }
  _:-webkit-any-link .header,
  :root body.modal-open .header {
    width: calc(100% - 17px);
  }
  _:-webkit-any-link,
  :root body.hidden {
    padding-right: 17px;
  }
  _:-webkit-any-link .header,
  :root body.hidden .header {
    width: calc(100% - 17px);
  }
  _:-webkit-any-link,
  :root body.compensate-for-scrollbar {
    padding-right: 17px;
  }
  _:-webkit-any-link .header,
  :root body.compensate-for-scrollbar .header {
    width: calc(100% - 17px);
  }
}
.btn {
  -webkit-appearance: none;
  border-radius: 8px;
  position: relative;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -0.01em;
  text-align: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 24px 32px;
  border: 1px solid rgb(245, 140, 31);
  background-color: rgb(245, 140, 31);
  display: inline-block;
  transition: all 0.3s;
}
.btn svg {
  -webkit-transition: fill 0.3s;
  -moz-transition: fill 0.3s;
  -o-transition: fill 0.3s;
  transition: fill 0.3s;
}
.btn svg path {
  fill: rgb(0, 0, 0);
  -webkit-transition: fill 0.3s;
  -moz-transition: fill 0.3s;
  -o-transition: fill 0.3s;
  transition: fill 0.3s;
}
.btn:hover {
  border-color: rgb(208, 212, 217);
  background-color: rgb(208, 212, 217);
  color: rgb(50, 63, 79);
}
.btn:hover svg path {
  fill: rgb(255, 255, 255);
}

h1,
h2,
h3,
h4,
h5,
h6,
.caption {
  font-family: "Helvetica Neue";
  color: rgb(0, 0, 0);
  font-weight: 600;
}

h1,
.caption--h1 {
  font-size: 85px;
  line-height: 80px;
}

h2,
.caption--h2 {
  font-size: 40px;
  line-height: 44px;
}

h3,
.caption--h3 {
  font-size: 24px;
  line-height: 28px;
}

.caption-h1--small {
  font-size: 75px;
  line-height: 80px;
}

.header {
  background-color: rgb(244, 244, 244);
  padding: 24px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  position: relative;
  z-index: 9;
}
.header .link {
  display: none;
}

.menu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.menu-link {
  transition: color 0.3s;
}
.menu-link:hover {
  color: rgb(245, 140, 31);
}

.link {
  color: rgb(50, 63, 79);
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: underline;
  text-decoration-color: transparent;
  -webkit-transition: text-decoration 0.3s;
  -moz-transition: text-decoration 0.3s;
  -o-transition: text-decoration 0.3s;
  transition: text-decoration 0.3s;
}
.link:hover {
  text-decoration-color: rgb(50, 63, 79);
}
section {
  border-radius: 8px;
  overflow: hidden;
}
section + section {
  margin-top: 32px;
}

.grettings {
  position: relative;
  width: 100%;
  min-height: 760px;
  color: rgb(255, 255, 255);
  padding: 80px 80px 26px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.grettings .caption {
  font-size: 120px;
  font-weight: 400;
  line-height: 108px;
  letter-spacing: -0.02em;
  color: rgb(255, 255, 255);
  max-width: 60%;
}
.grettings .grettings__content {
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -0.01em;
  background-color: rgb(62, 84, 106);
  padding: 40px;
  width: 100%;
  max-width: 916px;
  margin-top: auto;
  margin-left: auto;
  right: -80px;
  bottom: -25px;
  position: relative;
  overflow: hidden;
  border-radius: 16px 0px 8px 0px;
  color: rgba(255, 255, 255, 0.7);
}
.grettings .grettings__content strong {
  color: #fff;
}
.grettings .btn {
  margin-top: 48px;
}
.grettings .picture {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.text-big {
  width: 100%;
  min-height: 584px;
  padding: 160px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ececec;
  font-size: 72px;
  line-height: 67px;
  color: rgba(50, 63, 79, 0.7);
  font-weight: 400;
}
.text-big strong {
  color: rgb(50, 63, 79);
  font-weight: 500;
}
.text-big__text {
  max-width: 1095px;
  width: 100%;
}

.about {
  background: radial-gradient(ellipse at center, #dde5f0 0%, #eff3f7 100%);
  padding: 80px 0;
  min-height: 760px;
}

.about__title {
  font-size: 56px;
  font-weight: 700;
  line-height: 52px;
  display: block;
  text-align: center;
  color: rgb(50, 63, 79);
}

.about__desr {
  font-size: 32px;
  font-weight: 400;
  line-height: 39px;
  display: block;
  text-align: center;
  color: rgb(62, 84, 106);
  margin-top: 24px;
  opacity: 0.8;
}

.about-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  text-align: center;
  color: rgb(62, 84, 106);
  margin-top: 60px;
}
.about-numbers li {
  width: 100%;
  max-width: 756px;
}
.about-numbers li:first-child .num {
  background-image: url("../img/num-pic2.jpg");
}
.about-numbers li:last-child .num {
  background-image: url("../img/num-pic2.jpg");
}
.about-numbers li:last-child p {
  max-width: 455px;
}
.about-numbers li p {
  max-width: 395px;
  display: block;
  margin: 0 auto;
}
.about-numbers .num {
  font-size: 350px;
  line-height: 350px;
  font-weight: 600;
  color: transparent;
  background-color: transparent;
  -webkit-background-clip: text;
}

.investment-team {
  padding: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 33px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgb(50, 63, 79);
  overflow: hidden;
}
.investment-team .caption {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 52px;
  display: block;
  margin-bottom: 40px;
  word-break: break-all;
}
.investment-team .caption br {
  display: none;
}

.investment-team__content {
  width: 521px;
  display: flex;
  flex-direction: column;
}
.investment-team__content p + p {
  margin-top: 20px;
}

.investment-team__list {
  display: flex;
  align-items: center;
  gap: 0;
  margin-top: auto;
  position: relative;
  z-index: 5;
}
.investment-team__list .picture {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
}
.investment-team__list .picture img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.investment-team__list li {
  cursor: pointer;
  height: 168px;
  width: 48px;
  position: relative;
  border: solid 4px transparent;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s;
  opacity: 0.15;
  background-color: rgb(50, 63, 79);
}
.investment-team__list li:hover {
  opacity: 0.5;
}
.investment-team__list li.active {
  width: 168px;
  border-color: rgb(245, 140, 31);
  opacity: 1;
}

.investment-team__slider {
  width: calc(100% - 555px);
}

.sliderInvestment {
  overflow: visible;
  width: 100%;
}
.sliderInvestment .swiper-slide {
  opacity: 0;
  pointer-events: none;
}
.sliderInvestment .swiper-slide.swiper-slide-active {
  opacity: 1;
  pointer-events: initial;
}
.sliderInvestment .swiper-slide.swiper-slide-active .sliderInvestment__media {
  transform: translateY(0);
  opacity: 1;
}
.sliderInvestment .swiper-slide.swiper-slide-active .sliderInvestment__text {
  transform: translateY(0);
  opacity: 1;
}
.sliderInvestment .swiper-controls {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 176px;
  position: absolute;
  left: 327px;
  bottom: 32px;
}
.sliderInvestment .swiper-button-prev {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px rgb(245, 140, 31);
  border-radius: 8px;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform: initial;
  margin: 0;
}
.sliderInvestment .swiper-button-prev::after {
  display: none;
}
.sliderInvestment .swiper-button-next {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px rgb(245, 140, 31);
  border-radius: 8px;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform: initial;
  margin: 0;
}
.sliderInvestment .swiper-button-next::after {
  display: none;
}

.sliderInvestment__content {
  display: flex;
  align-items: flex-start;
  gap: 33px;
}
.sliderInvestment__content p + p {
  margin-top: 20px;
}

.sliderInvestment__media {
  width: 550px;
  height: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 54px 64px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  overflow: hidden;
  transform: translateY(-150px);
  transition: opacity 1s, all 0.3s;
  opacity: 0;
}

.sliderInvestment__text {
  width: calc(100% - 550px);
  transform: translateY(150px);
  transition: opacity 1s, all 0.3s;
  opacity: 0;
}

.sliderInvestment__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  max-width: 300px;
  margin-top: auto;
  padding: 35px;
}

.sliderInvestment__name {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
}

.sliderInvestment__desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  letter-spacing: -0.02em;
}

.sliderInvestment__picture {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.sliderInvestment__picture .picture {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.sliderInvestment__picture .picture img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discuss-project {
  background: radial-gradient(ellipse at center, #dde5f0 0%, #eff3f7 100%);
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
}
.discuss-project .caption {
  font-size: 120px;
  font-weight: 400;
  line-height: 108px;
  text-align: center;
  color: rgb(62, 84, 106);
  max-width: 847px;
  width: 100%;
}
.discuss-project .caption span {
  position: relative;
  display: block;
}
.discuss-project .caption span + span {
  transform: translateX(150px);
}
.discuss-project .btn {
  margin-top: 24px;
  grid-column: 1/3;
}

.discuss-project__form {
  width: 100%;
  max-width: 442px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
.discuss-project__form .input-item {
  background-color: #fff;
  padding: 4px 8px;
  border-radius: 8px;
  overflow: hidden;
}
.discuss-project__form .input-item label {
  font-size: 12px;
  font-weight: 400;
  line-height: 19.2px;
  letter-spacing: -0.02em;
}
.discuss-project__form .input-item.input-full {
  grid-column: 1/3;
}
.discuss-project__form .check-block {
  grid-column: 1/3;
  margin-top: 8px;
}

@media (min-width: 1200px) {
  .menu {
    display: flex !important;
    height: auto !important;
  }
}
@media (max-width: 1599px) {
  .grettings {
    padding: 64px 64px 26px;
  }
  .about {
    min-height: 689px;
  }
  .about-numbers {
    margin-top: 54px;
  }
  .about-numbers .num {
    font-size: 350px;
    line-height: 300px;
  }
  .about-numbers li {
    max-width: 595px;
  }
  .sliderInvestment__media {
    width: 380px;
    height: 466px;
  }
  .sliderInvestment__text {
    width: calc(100% - 380px);
  }
  .sliderInvestment__info {
    padding: 35px 35px 128px;
  }
  .sliderInvestment .swiper-controls {
    left: 32px;
    bottom: 32px;
  }
  .investment-team__content {
    width: 383px;
  }
  .investment-team .caption br {
    display: block;
  }
  .discuss-project .caption {
    max-width: 658px;
  }
  .discuss-project .caption span + span {
    transform: translateX(100px);
  }
}
@media (max-width: 1439px) {
  .grettings {
    min-height: 604px;
  }
  .grettings .caption {
    font-size: 72px;
    line-height: 67px;
    max-width: 100%;
  }
  .about {
    min-height: 574px;
  }
  .grettings .grettings__content {
    max-width: 849px;
    right: -63px;
  }
  .text-big {
    padding: 60px 0;
    min-height: 384px;
  }
  .about {
    padding: 40px 0;
  }
  .about-numbers .num {
    font-size: 300px;
    line-height: 280px;
  }
  .investment-team {
    padding: 40px;
  }
  .investment-team__list li {
    width: 40px;
  }
  .sliderInvestment__media {
    width: 330px;
    height: 466px;
  }
  .sliderInvestment__text {
    width: calc(100% - 363px);
  }
  .investment-team__content {
    width: 330px;
  }
  .investment-team__slider {
    width: calc(100% - 365px);
  }
  .discuss-project .caption {
    font-size: 72px;
    line-height: 67px;
  }
  .discuss-project .caption span + span {
    transform: translateX(90px);
  }
  .discuss-project__form {
    max-width: 418px;
  }
  .discuss-project .caption {
    max-width: 591px;
  }
  .discuss-project {
    padding: 40px 0;
  }
}
@media (max-width: 1199px) {
  .grettings {
    min-height: 600px;
    padding: 40px;
  }
  .grettings .caption {
    font-size: 72px;
    line-height: 67px;
    max-width: 100%;
  }
  .grettings .grettings__content {
    font-size: 24px;
    line-height: 36px;
    max-width: 714px;
    bottom: -40px;
    right: -40px;
  }
  .text-big {
    font-size: 56px;
    line-height: 52px;
    padding: 80px;
    min-height: 368px;
  }
  .about-numbers .num {
    font-size: 200px;
    line-height: 150px;
    background-size: contain;
  }
  .about {
    min-height: 524px;
  }
  .investment-team__content {
    width: 270px;
  }
  .sliderInvestment__media {
    width: 270px;
    height: 492px;
  }
  .sliderInvestment__text {
    width: calc(100% - 303px);
  }
  .investment-team__slider {
    width: calc(100% - 303px);
  }
  .sliderInvestment__info {
    padding: 30px 30px 135px;
  }
  .discuss-project .caption {
    max-width: 405px;
  }
  .discuss-project {
    padding: 40px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .discuss-project .caption {
    text-align: left;
  }
  .discuss-project .caption span + span {
    transform: translateX(70px);
  }
}
@media (max-width: 1023px) {
  .burger {
    display: flex;
  }
  .menu {
    display: none;
    position: absolute;
    left: 0;
    top: calc(100% - 15px);
    width: 100%;
    background-color: #f4f4f4;
    padding: 34px 16px;
  }
  .menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    margin-bottom: 48px;
  }
  .menu-item + .menu-item {
    margin-top: 16px;
  }
  .menu-link {
    font-size: 20px;
    line-height: 30px;
  }
  .header {
    padding: 24px 32px;
  }
  .header .link {
    display: flex;
  }
  .header .link + .link {
    margin-top: 20px;
  }
  .about {
    min-height: initial;
  }
  .grettings {
    min-height: 620px;
  }
  .grettings .grettings__content {
    width: calc(100% + 80px);
    max-width: initial;
    right: auto;
    left: -40px;
    border-radius: 16px 16px 8px 8px;
  }
  .about-numbers {
    flex-direction: column;
  }
  .about-numbers .num {
    font-size: 220px;
    line-height: 200px;
  }
  .about-numbers li {
    width: 100%;
    max-width: 100%;
  }
  .about-numbers li + li {
    margin-top: 64px;
  }
  .about-numbers li p {
    width: 100%;
    max-width: 100%;
  }
  .investment-team__content {
    width: 100%;
  }
  .investment-team__slider {
    width: 100%;
  }
  .investment-team__list {
    margin-top: 40px;
  }
  .investment-team__list li {
    width: 80px;
    height: 80px;
  }
  .investment-team__list li.active {
    height: 80px;
    width: 80px;
  }
  .investment-team .caption br {
    display: none;
  }
  .sliderInvestment__content {
    flex-direction: column;
  }
  .sliderInvestment__media {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 108.0128205128%;
  }
  .sliderInvestment__text {
    width: 100%;
  }
  .sliderInvestment__info {
    padding: 35px;
  }
  .sliderInvestment .swiper-controls {
    left: auto;
    bottom: 190px;
    right: 30px;
  }
  .discuss-project .caption {
    width: 100%;
    max-width: 100%;
  }
  .discuss-project .caption span {
    display: inline;
  }
  .discuss-project .caption span + span {
    transform: translateX(0);
  }
  .discuss-project {
    flex-direction: column;
  }
  .discuss-project__form {
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .header {
    padding: 24px;
  }
  .grettings {
    min-height: 420px;
  }
  .grettings .caption {
    font-size: 32px;
    line-height: 38px;
  }
  .grettings .grettings__content {
    font-size: 20px;
    line-height: 30px;
    padding: 24px;
  }
  .grettings .btn {
    margin-top: 40px;
  }
  .text-big {
    font-size: 32px;
    line-height: 38px;
    padding: 40px;
    min-height: initial;
  }
  .about__title {
    font-size: 44px;
    line-height: 42px;
  }
  .about {
    padding: 40px 38px;
  }
  .about-numbers li p {
    max-width: 448px;
  }
  .investment-team__list {
    display: none;
  }
  .investment-team {
    padding: 40px 24px;
  }
  .sliderInvestment__media {
    padding-top: 58.5714285714%;
  }
  .sliderInvestment__info {
    padding: 30px 30px 135px;
  }
  .sliderInvestment .swiper-controls {
    left: 32px;
    bottom: 220px;
  }
  .investment-team .caption {
    font-size: 44px;
    line-height: 42px;
  }
  .sliderInvestment__media {
    padding-top: 50%;
  }
  .discuss-project {
    padding: 40px 24px;
  }
  .discuss-project .caption {
    font-size: 44px;
    line-height: 48px;
  }
  .discuss-project__form {
    width: 100%;
    max-width: 100%;
  }
  .discuss-project__form .input-item.input-full {
    grid-column: initial;
  }
  .discuss-project__form .input-item.input-full:nth-child(5) {
    grid-column: 1/3;
  }
  .discuss-project .btn {
    padding: 11px 32px;
    font-size: 16px;
    line-height: 26px;
  }
}
@media (max-width: 639px) {
  .site-wrapper {
    padding: 26px 16px;
  }
  .grettings {
    padding: 16px 24px;
    min-height: 438px;
  }
  .grettings .caption {
    text-align: center;
  }
  .grettings .btn {
    margin-top: 32px;
    width: 100%;
    max-width: 100%;
  }
  .grettings .grettings__content {
    left: -24px;
    width: calc(100% + 50px);
    bottom: -24px;
  }
  .main {
    margin-top: 24px;
  }
  .text-big {
    padding: 40px 32px;
  }
  .about-numbers {
    font-size: 16px;
    line-height: 25px;
  }
  .about-numbers .num {
    font-size: 80px;
    line-height: 50px;
  }
  .about {
    padding: 40px 24px;
  }
  .about-numbers li + li {
    margin-top: 40px;
  }
  .discuss-project__form .input-item.input-full {
    grid-column: 1/3;
  }
}
@media (max-width: 479px) {
  .site-wrapper {
    padding: 10px;
  }
  section + section {
    margin-top: 24px;
  }
  .header {
    padding: 15px 10px;
  }
  .logo {
    width: 125px;
    height: 30px;
  }
  .grettings .caption {
    font-size: 20px;
    line-height: 30px;
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .grettings .grettings__content {
    padding: 16px;
  }
  .grettings {
    min-height: 488px;
  }
  .text-big {
    font-size: 20px;
    line-height: 30px;
    padding: 24px 16px;
  }
  .aobut {
    padding: 40px 16px;
  }
  .about__desr {
    font-size: 20px;
    line-height: 30px;
  }
  .about-numbers {
    margin-top: 32px;
  }
  .investment-team {
    padding: 24px 16px;
    gap: 24px;
  }
  .investment-team .caption {
    margin-bottom: 24px;
  }
  .investment-team .caption br {
    display: block;
  }
  .sliderInvestment__info {
    padding: 16px 16px 128px;
  }
  .sliderInvestment .swiper-controls {
    left: 16px;
    bottom: 260px;
  }
  .discuss-project {
    padding: 24px 16px;
  }
}

/*# sourceMappingURL=style.css.map */
