.header {
  background-color: rgba(244, 244, 244, 1);
  padding: 24px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  transition: top 0.3s;

  .logo {
  }

  .picture {
  }

  .link {
    display: none;
  }

  &.sticky {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.menu {
}

.menu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.menu-item {
}

.menu-link {
  transition: color 0.3s;

  &:hover {
    color: $colorYellow;
  }
}

.link {
  color: rgba(50, 63, 79, 1);
  display: flex;
  align-items: center;
  gap: 12px;
  @include text-decoration-hover(rgba(50, 63, 79, 1));

  &-text {
  }
}
