@media (max-width: 1599px) {
  .grettings {
    padding: 64px 64px 26px;
  }

  .about {
    min-height: 689px;
  }

  .about-numbers {
    margin-top: 54px;

    .num {
      font-size: 350px;
      line-height: 300px;
    }

    li {
      max-width: 595px;
    }
  }

  .sliderInvestment__media {
    width: 380px;
    height: 466px;
  }

  .sliderInvestment__text {
    width: calc(100% - 380px);
  }

  .sliderInvestment__info {
    padding: 35px 20px 115px 35px;
  }

  .sliderInvestment .swiper-controls {
    left: 32px;
    bottom: 32px;
  }

  .investment-team__content {
    width: 480px;
  }

  .investment-team__slider {
    width: calc(100% - 550px);
  }

  .investment-team .caption br {
    display: block;
  }

  .discuss-project .caption {
    max-width: 658px;

    span {
      transform: translateX(-15px);
    }

    span + span {
      transform: translateX(100px);
    }
  }

  .footer {
    padding: 40px;
  }

  .footer-logo__logo {
    width: 475px;
    height: 121px;
  }

  #container {
    width: 1440px;
    height: 860px;
    left: calc(50% - 720px);
  }

  .sliderInvestment__picture .picture::before{
    bottom: -50px;
  }
}
