@media (max-width: 1199px) {
  .grettings {
    min-height: 600px;
    padding: 40px;

    .caption {
      font-size: 72px;
      line-height: 67px;
      max-width: 100%;
    }

    .grettings__content {
      font-size: 24px;
      line-height: 36px;
      max-width: 714px;
      bottom: -40px;
      right: -40px;
    }
  }

  .text-big {
    font-size: 56px;
    line-height: 52px;
    padding: 80px;
    min-height: 368px;
  }

  .about-numbers .num {
    font-size: 200px;
    line-height: 150px;
    background-size: contain;
  }

  .about {
    min-height: 524px;
  }

  .investment-team__content {
    width: 270px;
  }

  .sliderInvestment__media {
    width: 270px;
    height: 492px;
  }

  .sliderInvestment__text {
    width: calc(100% - 303px);
  }

  .investment-team__slider {
    width: calc(100% - 303px);
  }

  .sliderInvestment__info {
    padding: 30px 30px 135px;
  }

  .discuss-project .caption {
    max-width: 405px;
  }

  .discuss-project {
    padding: 40px;
    align-items: flex-start;
    justify-content: flex-start;

    .caption {
      text-align: left;
    }
  }

  .discuss-project .caption span + span {
    transform: translateX(70px);
  }

  .footer-content {
    width: 60%;
  }

  .footer-logo {
    width: 40%;
  }

  .footer-logo__logo {
    width: 284px;
    height: 72px;
  }

  .projects-item {
    overflow: visible;
  }

  .projects-item .picture::before {
    bottom: 40px;
    box-shadow: 0px 0px 50px 25px rgba(62, 84, 106, 0.77);
  }
}
