@media (max-width: 479px) {
  .site-wrapper {
    padding: 10px;
  }

  section + section {
    margin-top: 24px;
  }

  .header {
    padding: 15px 10px;
  }

  .logo {
    width: 125px;
    height: 30px;
  }

  .grettings .caption {
    // font-size: 20px;
    // line-height: 30px;
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .grettings .grettings__content {
    padding: 16px;
  }

  .grettings {
    min-height: 488px;
  }

  .text-big {
    font-size: 20px;
    line-height: 30px;
    padding: 24px 16px;
  }

  .aobut {
    padding: 40px 16px;
  }

  .about__desr {
    font-size: 20px;
    line-height: 30px;
  }

  .investment-team {
    padding: 24px 16px;
    gap: 24px;

    .caption {
      margin-bottom: 24px;

      br {
        display: block;
      }
    }
  }

  .sliderInvestment__info {
    padding: 16px 16px 128px;
  }

  .sliderInvestment .swiper-controls {
    left: 16px;
    bottom: 260px;
  }

  .discuss-project {
    padding: 24px 16px;
  }

  .footer {
    padding: 24px 16px;
  }

  .footer-info__bottom ul {
    gap: 16px;
  }

  .footer-logo {
    margin-top: 40px;
  }

  .footer-logo__logo {
    width: 178px;
    height: 46px;
  }

  .footer-link-more__desktop {
    display: none;
  }

  .footer-link-more__mobile {
    display: block;
  }

  .coyRight {
    margin-top: 16px;
  }

  .arrow-controls {
    right: auto;
    left: 20px;
  }

  .geography-projects__head {
    padding: 24px 16px;
  }

  .geography-projects__head__text {
    line-height: 24px;
  }

  .projects-item .picture {
    width: 116px;
    height: 116px;
    right: 17px;
    bottom: 8px;
  }

  .projects-result {
    flex-wrap: wrap;
  }

  .projects-result__info {
    width: 100%;
  }

  .projects-item .picture {
    width: 128px;
    height: 128px;
    right: 8px;
    bottom: 8px;
  }
}
