@media (max-width: 639px) {
  .site-wrapper {
    padding: 26px 16px;
  }

  .grettings {
    padding: 16px 24px;
    min-height: 388px;

    .caption {
      text-align: center;
    }
  }

  .grettings .btn {
    margin-top: 32px;
    width: 100%;
    max-width: 100%;
  }

  .grettings .grettings__content {
    left: -24px;
    width: calc(100% + 50px);
    bottom: -16px;
  }

  .main {
    margin-top: 24px;
  }

  .text-big {
    padding: 40px 32px;
  }

  .about-numbers {
    font-size: 16px;
    line-height: 25px;

    .num {
      font-size: 100px;
      line-height: 50px;
    }
  }

  .about {
    padding: 40px 24px;
  }

  .about-numbers li + li {
    margin-top: 40px;
  }

  .discuss-project__form .input-item.input-full {
    grid-column: 1/3;
  }

  .footer {
    padding: 40px 24px;
  }

  .footer-menu {
    justify-content: center;
    gap: 16px 48px;
    flex-wrap: wrap;
  }

  .footer-info__left {
    gap: 16px;
  }

  .footer-info__right {
    width: 100%;
  }

  .footer-info__bottom {
    text-align: center;
    margin-top: 0;

    ul {
      justify-content: center;
      text-align: center;
      align-items: center;
    }
  }

  .footer-logo {
    justify-content: center;
  }

  .footer-logo__logo {
    margin: 0 auto;
  }

  .footer-logo__text {
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
  }

  .geography-projects__head {
    padding: 40px;
  }
}
